{% extends 'Reviews/nav.html' %}
{% block content %}
{% load static %}

<body class="bg-dark">
  <main class="p-5">
    <div class="d-flex justify-content-center pt-5 mt-5">
      <img src="{% static 'Reviews/image/olreviews.jpg' %}"  width="500px" height="500px">
    </div>

    <div class="d-flex text-center cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
      <main class="text-light">
          <h1 class="pt-5 pb-2" style="font-size: 38pt;">Ol'reviews</h1>
          <p class="lead">
            <a href={% url "index" %} class="btn btn-lg btn-outline-secondary fw-bold">둘러보기</a>
          </p>
      </main>
    </div>
  </main>
</body>
{% endblock %}



<!-- 20230629 update -->