{% extends "Reviews/nav.html" %}

{% block content %}
  <div class="container" style='width: 100%; margin-top:100px'>

    <!-- START 드랍다운리스트 -->
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-6 col-lg-2"></div>
        <div class="dropdown col-12 col-md-6 col-lg-2">
          도메인
          <button class="btn btn-secondary dropdown-toggle btn_filter" type="button" id="ddb_domain" data-bs-toggle="dropdown" aria-expanded="false">{{domain}}</button>
          <ul class="dropdown-menu" aria-labelledby="ddb_domain">
            <li><a class="dropdown-item" href="#" onclick="changeText('ddb_domain',this)">ALL</a></li>
            <li><a class="dropdown-item" href="#" onclick="changeText('ddb_domain',this)">Office</a></li>
            <li><a class="dropdown-item" href="#" onclick="changeText('ddb_domain',this)">None Office</a></li>
          </ul>
        </div>
        <div class="dropdown col-12 col-md-6 col-lg-2">
          제품
          <button class="btn btn-secondary dropdown-toggle btn_filter" type="button" id="ddb_product" data-bs-toggle="dropdown" aria-expanded="false">{{product}}</button>
          <ul class="dropdown-menu" aria-labelledby="ddb_product">
            <li><a class="dropdown-item" href="#" onclick="changeText('ddb_product',this)">ALL</a></li>
            {% for key, value in PRODUCT_MAPPING.items %}
              <li><a class="dropdown-item" href="#" onclick="changeText('ddb_product',this)">{{value}}</a></li>
            {% endfor %}
          </ul>
        </div>
        <div class="dropdown col-12 col-md-6 col-lg-2">
          별점
          <button class="btn btn-secondary dropdown-toggle btn_filter" type="button" id="ddb_star" data-bs-toggle="dropdown" aria-expanded="false">{{star}}</button>
          <ul class="dropdown-menu" aria-labelledby="ddb_star">
            <li><a class="dropdown-item" href="#" onclick="changeText('ddb_star',this)">ALL</a></li>
            <li><a class="dropdown-item" href="#" onclick="changeText('ddb_star',this)">5</a></li>
            <li><a class="dropdown-item" href="#" onclick="changeText('ddb_star',this)">4</a></li>
            <li><a class="dropdown-item" href="#" onclick="changeText('ddb_star',this)">3</a></li>
            <li><a class="dropdown-item" href="#" onclick="changeText('ddb_star',this)">2</a></li>
            <li><a class="dropdown-item" href="#" onclick="changeText('ddb_star',this)">1</a></li>
          </ul>
        </div>
        <div class="dropdown col-12 col-md-6 col-lg-2">
          정렬
          <button class="btn btn-secondary dropdown-toggle btn_filter" type="button" id="ddb_sort" data-bs-toggle="dropdown" aria-expanded="false">{{sort}}</button>
          <ul class="dropdown-menu" aria-labelledby="ddb_sort">
            <li><a class="dropdown-item" href="#" onclick="changeText('ddb_sort',this)" value="date-new">최신 순</a></li>
            <li><a class="dropdown-item" href="#" onclick="changeText('ddb_sort',this)" value="likes-high">별점 순</a></li>
          </ul>
        </div>
        
        <button id="filterButton" type="button" class="btn btn-primary col-12 col-md-6 col-lg-2 btn_filter" onclick="filter(this)">확인</button>
      </div>
    </div>
    <!-- END 드랍다운리스트 -->

    <div class="container">
      <div class="row">
        {% for review in page_obj %}
        <div class="col-12 col-md-6 col-lg-4" style="padding: 12px">
          <div class="card" style="width: 400px;">
            <a href={% url "detail" review.id %}><img src="{{ review.imgfile.url }}" class="card-img-top" style="height: 250px;object-fit:cover; "></a>
            <div class="card-body">
              <a href={% url "detail" review.id %} style="text-decoration-line: none; color: black;"><h5 class="card-title">{{ review.title }}</h5></a>
              <p class="card-text">{{ review.get_ratings_display }}</p>
              <p class="card-text">{{ review.dt_created|date:"Y-m-d" }}</p>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>

  <!--paginator 기능 구현-->
  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      {% if page_obj.has_previous %} <!--이전 페이지가 존재하는 경우 First 버튼 활성화-->
        <li class="page-item"><a class="page-link" href="?page=1&sort={{sort}}">First</a></li> <!--버튼 클릭시 첫번째 페이지로 이동-->
      {% endif %}

      {% for page in paginator.page_range %} <!--page 개수만큼 itertor ex) [1, 2, 3, 4] -->
        {% if page == page_obj.number %} <!--Page.number: 해당 페이지의 페이지번호를 의미 -->
          <li class="page-item"><a class="page-link active" href="?page={{page}}&sort={{sort}}">{{ page }}</a></li>
        {% else %}
          <li class="page-item"><a class="page-link" href="?page={{page}}&sort={{sort}}">{{ page }}</a></li>
        {% endif %}
      {% endfor %}

      {% if page_obj.has_next %} <!--다음 페이지가 존재하는 경우 Last 버튼 활성화-->
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.end_index }}&sort={{sort}}">Last</a></li>
      {% endif %}
    </ul>
  </nav> 

  <script>
    
    function changeText(buttonId, element) {
      var button = document.getElementById(buttonId);
      button.innerText = element.innerText;
    }

    function filter() {
      var domain = document.getElementById('ddb_domain').innerText;
      var product = document.getElementById('ddb_product').innerText;
      var star = document.getElementById('ddb_star').innerText;
      var sort = document.getElementById('ddb_sort').innerText;
    
      // Build the URL with query parameters
      var url = "/reviews?domain=" + encodeURIComponent(domain)
        + "&product=" + encodeURIComponent(product)
        + "&star=" + encodeURIComponent(star)
        + "&sort=" + encodeURIComponent(sort);
    
      // Redirect to the new URL
      window.location.href = url;
    }

  </script> 
{% endblock content %}