{% extends "Reviews/base.html" %}
{% load bootstrap4 %}

{% block content %}
  <div style="text-align: center; max-width: 500px; margin: 4rem auto;">
    <div>
      <h4>회원가입</h4>
    </div>
    <div class="row mt-5">
      <div class="col-12">
        {% if message %}
        <p>{{ message }}</p>
        {% endif %}
      </div>
   </div>
    <div>
      <form action={% url "register" %} method="post">
        {% csrf_token %}
        {% bootstrap_form form %}

        <div class="row">
          <div class="col-12">
            <input type="submit" class="btn btn-primary rounded-pill col-12 mt-3" value="가입하기">
          </div>
        </div>
      </form>
    </div>

    <div class="row mt-3">
      <div class="col-12">
        <a href={% url "login" %} class="btn btn-dark rounded-pill col-12">로그인 화면</a>
      </div>
    </div>
  </div>
{% endblock %}