{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" type="text/css" href="{% static 'Reviews/css/bootstrap.min.css' %}">

    <title>{% block title %}Ol'reviews{% endblock title %}</title>
  </head>
  <body>
    {% block header %}{% endblock header %}
    {% block content %}{% endblock content %}
    {% comment %} {% block footer %}{% endblock footer %} {% endcomment %}
  </body>
</html>
