{% extends "Reviews/base.html" %}

{% block header %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href={% url "index" %}>Ol'reviews</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          {% block nav %}
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href={% url "index" %}>리뷰 조회</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href={% url "upload" %}>리뷰 입력</a>
            </li>
          {% endblock nav %}
        </ul>

        {% if user.is_authenticated %}
          <div class="dropdown">
            <button class="btn btn-outline-success dropdown-toggle" type="button" id="myPageDropdown" data-bs-toggle="dropdown" aria-expanded="false">
              마이페이지
            </button>
            <ul class="dropdown-menu" aria-labelledby="myPageDropdown">
              <li><a class="dropdown-item" href={% url 'deleteaccount' %}>회원 탈퇴</a></li>
              <li><a class="dropdown-item" href={% url 'logout' %}>로그아웃</a></li>
              <!-- 다른 마이페이지 관련 메뉴 추가 -->
            </ul>
          </div>
        {% else %}
          <a class="btn btn-outline-success" href={% url "login" %}>로그인</a>
        {% endif %}
      </div>
    </div>
  </nav>
  <hr style="margin: 0">
{% endblock header %}