{% extends "Reviews/base.html" %}
{% load bootstrap4 %}

{% block content %}
  <div style="text-align: center; max-width: 500px; margin: 4rem auto;">
    <div>
      <h4>Login</h4>
    </div>

    {% if message %}
    <div class="alert alert-success">
      {{ message }}
    </div>
    {% endif %}

    <div>
      <form action={% url "login" %} method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
      
        

        <div class="row">
          <div class="col-12">
            <input type="submit" class="btn btn-primary rounded-pill col-12 mt-3" value="로그인">
          </div>
        </div>
      </form>
    </div>

    <div class="row mt-3">
      <div class="col-12">
        <a href={% url "register" %} class="btn btn-dark rounded-pill col-12">회원 가입</a>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-12">
        <a href={% url "index" %} class="btn btn-dark rounded-pill col-12">홈으로</a>
      </div>
    </div>


  </div>
{% endblock %}