{% extends "Reviews/base_with_nav.html" %}

{% block title %}{{ review.title }} | Ol'reviews{% endblock title %}

{% block content %}

<main class="site-body">
  <article class="review-detail max-content-width">

    <div class="review-info">
      <h1 class="title">{{ review.title }}</h1>

      {% comment %} <div class="author">
        <a class="review-author" href="#">
          <span>유저1</span>
        </a>
      </div> {% endcomment %}

      <date class="date">{{ review.dt_created|date:"Y-m-d" }}</date>

      <div class="review-rating">
            <span class="cp-stars">{{ review.get_ratings_display }}</span>
      </div>
    </div>
    <hr>

    <div class="content">
      <img class="thumb" src={{ review.imgfile.url }}>
      <p class='domain'>#{{ review.domain_clf }}</p>
      <p class='domain'>#{{ review.objects_clf }}</p>
      <p class="content">{{ review.content }}</p>
    </div>
    <hr>
  </article>
  <div style="margin-bottom: 50px; float: left; width: 33%;"><a href="{% url "index" %}" style="text-decoration-line: none; color: black;"> < 목록으로 </a></div>
  <a href="#" style='float: right; padding: 0 10px'><button class="btn btn-outline-success" type="submit">삭제</button></a>
  <a href="{% url 'edit' review.id %}" style='float: right; padding: 0 10px'><button class="btn btn-outline-success" type="submit">수정</button></a>
</main> 
{% endblock content %}

